/* .winter-section{
    color: #222327ff;
    background-color: #DDDCD8ff;
    border-top: 50px solid #002148ff;
    border-bottom: 50px solid #002148ff;
}

#contact-us {
    background-color: #002148ff;
}

#contact-us h1{
    color: #DDDCD8ff;
} */